#text {
	background: #fff;
	padding: 10px;
	text-align: left;
	margin: 0;
	white-space: pre-wrap;
}

#text > span {
	color: #e00;
	font-weight: bold;
	border: 1px solid #e00;
	cursor: pointer;
}

#text > span.selected {
	border: 2px solid #000;
}

#example {
	background: #a63;
	text-align: left;
	padding: 5px;
}

#example > span {
	color: #fff;
	text-indent: 1em;
	cursor: pointer;
	display: block;
}

#example > span.tempUnderline {
	text-indent: 0;
}

#toggle {
	height: 30px;
	width: 45px;
	flex: initial;
}

.speed {
	height: 30px;
	width: 15px;
	flex: initial;
}

#speed-50 > .speed-after {
	transform: translate(-10%, -50%) rotate(45deg);
}

#speed-100 > .speed-after {
	transform: translate(-40%, -50%) rotate(45deg);
}

@media (pointer: fine) {
	#text > span:hover {
		color: #faa;
	}
	#example > span:hover {
		color: #faa;
	}
}
