.speed {
	height: 20px;
}

#toggle {
	height: 100px;
}

#question {
	background: #fff;
	padding: 10px;
}

table {
	background: #eee;
	width: 100%;
}

.block {
	background: #ccc;
	height: 22px;
	padding: 20px 0 20px 0;
	margin: 5px;
	min-width: 0;
}

.button {
	background: #fca;
}

.button.incorrect {
	background: #fcc;
}

.button.correct {
	background: #dfd;
}

@media (pointer: fine) {
	.button:hover {
		background: #fdc;
	}
	.button.incorrect:hover {
		background: #fa9;
	}
	.button.correct:hover {
		background: #cfc;
	}
}

.school {
	background: #888;
	position: relative;
	top: -56px;
	left: -36px;
	height: inherit;
	width: 62px;
	padding: inherit;
}

.stoplight {
	position: relative;
	top: -36px;
	left: -10px;
	background: #888;
	height: 18px;
	width: 6px;
	border-radius: 5px;
	padding: 2px;
}
.stoplight > div {
	height: 6px;
	width: 6px;
	border-radius: 50%;
}
.stoplight > div:first-child {
	background: #f00;
}
.stoplight > div:nth-child(2) {
	background: #ff0;
}
.stoplight > div:last-child {
	background: #0f0;
}
