body {
	background: url('img/vocab.png');
	font-family: Klee, Book Antiqua, Helvetica, Arial;
	width: 100%;
	max-width: 100%;
	margin-bottom: 50px;
}

.bold {
	font-family: Helvetica-Bold;
}

@font-face {
	font-family: Kata;
    src: url(Kata.ttf);
}

@media (pointer: fine) { /* eh */
	.zh {
		height: 1.5em;
		font-size: 2em;
	}
}

.title {
	position: relative;
	background: #894;
	color: #fff;
	border-radius: 15px 15px 0 0;
	text-align: center;
	padding: 10px;
}
.title.extra {
	background: #a88;
}

.content {
	position: relative;
	width: 100%;
	background: rgba(255, 255, 255, 0.75);
	border-top: 2px solid #569;
	border-bottom: 2px solid #569;
	border-radius: 0 25px 25px 25px;
	padding: 20px;
	margin-bottom: 25px;
}
.content td {
	min-width: 2em;
	max-width: 15em;
}
.content.extra {
	border-color: #a88;
}

#search {
	position: fixed;
	height: 1em;
	width: 1em;
	bottom: 15px;
	right: 15px;
	background: #569 url('img/search.png') no-repeat;
	background-size: contain;
	border: 2px solid #569;
	border-radius: 1.5em;
	outline: none;
	font-family: Klee;
	font-size: 2em;
	padding: 0.5em;
	transition: background 100ms, width 100ms;
}
#search:focus {
	width: 5em;
	background: #fff;
	border-color: #894;
}



#selection {
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
}

#select {
	position: fixed;
	height: 2em;
	width: 2em;
	bottom: 10px;
	left: 10px;
	background: radial-gradient(#569, #894);
	border-radius: 1em;
}
