{% extends 'main.html' %}
{% block content %}
		<div class="rounded" id="lesson-buttons">
			<div class="flex">
				<div class="button" data-lesson="1">1</div>
				<div class="button" data-lesson="2">2</div>
				<div class="button" data-lesson="3">3</div>
				<div class="button" data-lesson="4">4</div>
				<div class="button" data-lesson="5">5</div>
				<div class="button" data-lesson="6">6</div>
				<div class="button" data-lesson="7">7</div>
				<div class="button" data-lesson="8">8</div>
				<div class="button" data-lesson="9">9</div>
				<div class="button" data-lesson="10">10</div>
			</div>
			<div class="flex konami">
				<div class="button" data-lesson="0">Basics</div>
				<div class="button" data-lesson="21">Unused Lesson I</div>
				<div class="button" data-lesson="22">Unused Lesson II</div>
				<div class="button" data-lesson="23">Unused Lesson III</div>
			</div>
			<div class="flex">
				<div class="button" data-lesson="11">11</div>
				<div class="button" data-lesson="12">12</div>
				<div class="button" data-lesson="13">13</div>
				<div class="button" data-lesson="14">14</div>
				<div class="button" data-lesson="15">15</div>
				<div class="button" data-lesson="16">16</div>
				<div class="button" data-lesson="17">17</div>
				<div class="button" data-lesson="18">18</div>
				<div class="button" data-lesson="19">19</div>
				<div class="button" data-lesson="20">20</div>
			</div>
		</div>
		<h3 id="lesson-title">Lesson Title</h3>
		<div class="rounded" id="lesson-menu">
			<a id="review"><div class="button">Review</div></a>
			<div class="flex" id="exercises">
				<div class="label">Exercises</div>
				<div>
					<div class="flex">
						<div class="label">Word Level</div>
						<div id="word"></div>
					</div>
					<div class="flex">
						<div class="label">Sentence Level</div>
						<div id="sentence"></div>
					</div>
					<div class="flex">
						<div class="label">Paragraph Level</div>
						<div id="paragraph"></div>
					</div>
				</div>
			</div>
			<a id="vocabulary"><div class="button">Vocabulary</div></a>
		</div>
{% endblock %}
