{%- extends 'default.html' %}
{%- block content %}
	<div>
		<div class="flex">
			<div class="button" id="text-a">Text A</div>
			<div class="button" id="text-b">Text B</div>
		</div>
		<div id="content">
			<img id="photo">
			<div class="zh" id="text"></div>
			<div class="zh" id="examples"></div>
		</div>
		<div class="flex">
			<div class="button" id="plain">Plain Text</div>
			<div class="button" id="words">Words</div>
			<div class="button" id="patterns">Patterns</div>
		</div>
	</div>
	<br>
	<div id="player">
		<div class="flex">
			<div class="button toggle play"></div>
			<div class="progress">
				<div class="progress-after"></div>
			</div>
			<div class="button speed" id="speed-50"></div>
			<div class="button speed" id="speed-75"></div>
			<div class="button speed" id="speed-100"></div>
		</div>
	</div>
	<br>
	<div id="footer">
		<a href="/">Index</a>
	</div>
	<div id="jukebox">
		<div>
			<div>
				<div class="desktop-only button" id="tip-button">Keyboard Shortcuts</div>
			</div>
		</div>
		<div class="desktop-only hid" id="tip">
			<div>Keyboard Shortcuts</div>
			<div class="tip-line"></div>
			<div>Play/Pause</div>
			<div class="tip-key">space</div>
			<div class="tip-line"></div>
			<div>Seek</div>
			<div class="tip-key">&larr;</div>
			<div class="tip-key">&rarr;</div>
			<div class="tip-key">0...9</div>
			<div class="tip-line"></div>
			<div>Speed</div>
			<div class="tip-key">&uarr;</div>
			<div class="tip-key">&darr;</div>
		</div>
	</div>
{%- endblock %}
